.start-bg {
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/start.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.start-title {
  position: absolute;
  width: 300px;
  height: 300px;
  top: calc(100vh / 2 - 150px);
  left: calc(100vw / 2 - 150px);
  border-radius: 150px;
  background: rgba($color: #ffffff, $alpha: 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    top: 100px;
    width: 250px;
    z-index: 100;
  }
}
.border {
  position: absolute;
  width: 450px;
  height: 450px;
  top: -76px;
  left: -73px;
  background: url('../../../assets/border.png');
  background-size: 450px 450px;
  z-index: 50;
}
